@font-face {
    font-family: 'Equity Text B';
    src: url('EquityTextB-Italic.eot');
    src: url('EquityTextB-Italic.eot?#iefix') format('embedded-opentype'),
        url('EquityTextB-Italic.woff2') format('woff2'),
        url('EquityTextB-Italic.woff') format('woff'),
        url('EquityTextB-Italic.ttf') format('truetype'),
        url('EquityTextB-Italic.svg#EquityTextB-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Equity Caps A';
    src: url('EquityCapsA-Bold.eot');
    src: url('EquityCapsA-Bold.eot?#iefix') format('embedded-opentype'),
        url('EquityCapsA-Bold.woff2') format('woff2'),
        url('EquityCapsA-Bold.woff') format('woff'),
        url('EquityCapsA-Bold.ttf') format('truetype'),
        url('EquityCapsA-Bold.svg#EquityCapsA-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Equity Text B';
    src: url('EquityTextB-Bold.eot');
    src: url('EquityTextB-Bold.eot?#iefix') format('embedded-opentype'),
        url('EquityTextB-Bold.woff2') format('woff2'),
        url('EquityTextB-Bold.woff') format('woff'),
        url('EquityTextB-Bold.ttf') format('truetype'),
        url('EquityTextB-Bold.svg#EquityTextB-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Equity Text B';
    src: url('EquityTextB-BoldItalic.eot');
    src: url('EquityTextB-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('EquityTextB-BoldItalic.woff2') format('woff2'),
        url('EquityTextB-BoldItalic.woff') format('woff'),
        url('EquityTextB-BoldItalic.ttf') format('truetype'),
        url('EquityTextB-BoldItalic.svg#EquityTextB-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Equity Caps B';
    src: url('EquityCapsB.eot');
    src: url('EquityCapsB.eot?#iefix') format('embedded-opentype'),
        url('EquityCapsB.woff2') format('woff2'),
        url('EquityCapsB.woff') format('woff'),
        url('EquityCapsB.ttf') format('truetype'),
        url('EquityCapsB.svg#EquityCapsB') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Equity Text B';
    src: url('EquityTextB.eot');
    src: url('EquityTextB.eot?#iefix') format('embedded-opentype'),
        url('EquityTextB.woff2') format('woff2'),
        url('EquityTextB.woff') format('woff'),
        url('EquityTextB.ttf') format('truetype'),
        url('EquityTextB.svg#EquityTextB') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Equity Caps B';
    src: url('EquityCapsB-Bold.eot');
    src: url('EquityCapsB-Bold.eot?#iefix') format('embedded-opentype'),
        url('EquityCapsB-Bold.woff2') format('woff2'),
        url('EquityCapsB-Bold.woff') format('woff'),
        url('EquityCapsB-Bold.ttf') format('truetype'),
        url('EquityCapsB-Bold.svg#EquityCapsB-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Equity Text A';
    src: url('EquityTextA.eot');
    src: url('EquityTextA.eot?#iefix') format('embedded-opentype'),
        url('EquityTextA.woff2') format('woff2'),
        url('EquityTextA.woff') format('woff'),
        url('EquityTextA.ttf') format('truetype'),
        url('EquityTextA.svg#EquityTextA') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Equity Text A';
    src: url('EquityTextA-BoldItalic.eot');
    src: url('EquityTextA-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('EquityTextA-BoldItalic.woff2') format('woff2'),
        url('EquityTextA-BoldItalic.woff') format('woff'),
        url('EquityTextA-BoldItalic.ttf') format('truetype'),
        url('EquityTextA-BoldItalic.svg#EquityTextA-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Equity Text A';
    src: url('EquityTextA-Italic.eot');
    src: url('EquityTextA-Italic.eot?#iefix') format('embedded-opentype'),
        url('EquityTextA-Italic.woff2') format('woff2'),
        url('EquityTextA-Italic.woff') format('woff'),
        url('EquityTextA-Italic.ttf') format('truetype'),
        url('EquityTextA-Italic.svg#EquityTextA-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Equity Caps A';
    src: url('EquityCapsA.eot');
    src: url('EquityCapsA.eot?#iefix') format('embedded-opentype'),
        url('EquityCapsA.woff2') format('woff2'),
        url('EquityCapsA.woff') format('woff'),
        url('EquityCapsA.ttf') format('truetype'),
        url('EquityCapsA.svg#EquityCapsA') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Equity Text A';
    src: url('EquityTextA-Bold.eot');
    src: url('EquityTextA-Bold.eot?#iefix') format('embedded-opentype'),
        url('EquityTextA-Bold.woff2') format('woff2'),
        url('EquityTextA-Bold.woff') format('woff'),
        url('EquityTextA-Bold.ttf') format('truetype'),
        url('EquityTextA-Bold.svg#EquityTextA-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

